{% extends "base.html" %}

{% block head_title %}
{{ super() }}: Compra tu Cripto
{% endblock %}

{% block page_title %}
Compra tu Cripto
{% endblock %}

{% block contenido %}
{{ super() }}

{% if errores %}
  <div class="lista-errores">
    <p>
      <ion-icon name="warning-sharp" class="icono-error"></ion-icon>
    </p>
    <div class="mensajes-error">
      {% for error in errores %}
        <p>{{ error }}</p>
      {% endfor %}

      {{ form.errors }}
    </div>
  </div>
{% endif %}

<form action="/modificar/{{ id }}" method="POST">
  {{ form.csrf_token }}
  {{ form.id }}
  <div class="campo-formulario">
    {{ form.fecha.label }}
    {{ form.fecha }}
  </div>

  <div class="campo-formulario">
    {{ form.concepto.label }}
    {{ form.concepto }}
  </div>

  <div class="campo-formulario">
    {% for campo in form.tipo %}
      {{ campo }}
      {{ campo.label }}
    {% endfor %}
  </div>

  <div class="campo-formulario">
    {{ form.cantidad.label }}
    {{ form.cantidad }}
  </div>

  <div class="acciones">
    {{ form.submit }}
  </div>
</form>

{% endblock %}