<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>My Cripto</title>
    <style>
        .lista {
          border-collapse: collapse;
          border: solid 1px black;
        }
    
        .lista th {
          border: solid 1px black;
        }
    
        .lista td {
          border: solid 1px black;
        }
    
        .pie-de-pagina {
          margin-top: 25px;
        }
      </style>
</head>

<body>
    <header>
        Movimientos
    </header>
    <nav>
        Inicio / Compra / Status
    </nav>

    <table class="lista">
        <tr>
            <th>Fecha</th>
            <th>Hora</th>
            <th>Concepto</th>
            <th>Tipo</th>
            <th>Cantidad</th>
        </tr>
        {% for mov in movs %}
         <tr>
             <td>{{ mov.fecha }}</td>
             <td>{{ mov.hora }}</td>
             <td>{{ mov.concepto }}</td>
             <td>{{ mov.tipo }}</td>
             <td>{{ mov.cantidad}} </td>
            </tr>
         {% endfor %}

    </table>
    <footer class="pie-de-pagina">2022 - Todos los derechos reservados</footer>
</body>
</html>