{% extends "base.html" %}

{% block head_title %}
Mycripto Inicio
{% endblock %}
{{ super() }} Inicio

{% block page_title %}
    Movimientos
{% endblock %}

{% block contenido %}
{{ super() }}
    <table class="paper">
        <tr>
            <th class="titulo-tabla">Fecha</th>
            <th class="titulo-tabla">Hora</th>
            <th class="titulo-tabla">Desde</th>
            <th class="titulo-tabla">Cantidad</th>
            <th class="titulo-tabla">Hacia</th>
            <th class="titulo-tabla">C</th>
            <th class="titulo-tabla">PU</th>
        </tr>
        {% if movs %}
        {% for mov in movs %}
        <tr>
            <td>
                {{ mov.Fecha }}
            </td>
            <td>
                {{ mov.Hora }}
            </td>
            <td>
                {{ mov.Desde }}
            </td>
            <td>
                {{ mov.Cantidad}} 
            </td>
            <td>
                {{ mov.Hacia }}
            </td>
            <td>
                {{ mov.C }}
            </td>
            <td>
                {{ mov.PU }}
            </td>
            
        </tr>
        {% if mov.errores %}
        <tr>
            <td colspan="4" class="error">
                {% for error in mov.errores%}
                {{error}}.
                {% endfor %}
            </td>
        </tr>
        {% endif %}
        {% endfor %}
        {% else %}
        <tr>
            <td colspan="7"class="lista-vacia">Sin Movimientos</td>
        </tr>
        {% endif %}
    </table>
    <a href="status">
        <button>status</button>
    </a>
    <a href="purchase">
        <button class="rounded-button">+</button>
    </a>
    
    
{% endblock %}
