{% extends "base.html" %}

{% block head_title %}
Mycripto Compras
{% endblock %}
{{ super() }}: compras

{% block page_title %}
    Compra tu Criptomoneda
{% endblock %}

{% block contenido %}
{{ super() }}

<!--
  CRUD: Create, Read, Update, Delete
  GET: read
  POST: create, delete
  PUT: update
 -->
<form action="/nuevo" method="post">

  <div class="campo-formulario">
    <label for="fecha">Fecha</label>
    <input type="date" id="fecha" name="fecha">
  </div>

  <div class="campo-formulario">
    <label for="hora">Hora</label>
    <input type="time" id="hora" name="hora">
  </div>

  <div class="campo-formulario">
    <label for="cantidad">From</label>
    <input type="text" id="concepto" name="concepto" required>
  </div>

  <div class="campo-formulario">
    <label for="cantidad">To</label>
    <input type="number" id="concepto" name="concepto" required>
  </div>

  <div class="campo-formulario">
    <label for="cantidad">Cantidad</label>
    <input type="number" id="cantidad" name="cantidad" required>
  </div>

  <div class="acciones">
    <!-- <input type="submit" value="Agregar"> -->
    <button type="submit" class="blue-button">Agregar</button>
  </div>

</form>
{% endblock %}