header {
    background-color: lightslategray;
    color: white;
    height: 50px;
    font-size: xx-large;
    line-height: 50px;
    padding-left: 25px;
}

nav {
    background-color: cadetblue;
    color: white;
    height: 20px;
    line-height: 20px;
    padding-left: 25px;
}

nav.main-menu a {
    color: white;
}

main {
    max-width: 800px;
    margin: auto;
    padding: 0 20px;
}

table.paper {
    width: 100%;
   
}

.titulo-tabla {
    border-bottom: #b8174c solid 1px;
    text-align: left;
}

.numero {
    text-align: right;
}

table.paper .error {
    font-size: small;
    padding-left: 20px;
    color: #900;
}

.pie-de-pagina {
    margin-top: 40px;
    padding: 20px;
    border-top: solid 1px ;
}

.lista-vacia {
    text-align: center;
    padding: 20px;
    color: gray;
}